<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDunAevQo8-FikuR6PG0MlCeUeiWoxtHhU</string>
	<key>GCM_SENDER_ID</key>
	<string>514531693331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daily.gym.gymDaily</string>
	<key>PROJECT_ID</key>
	<string>gym-daily</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-daily.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514531693331:ios:9cf1d2acb34578c55640e6</string>
</dict>
</plist>